/* *{
    outline: 1px solid white;
} */

html {
    scroll-behavior: smooth;
}
.nav-color {
    background-color: #252525;
}
a.nav-link {
    opacity: 0.75 !important;
    color: white !important;
}
a.nav-link:hover {
    opacity: 1 !important;
}
.custom-bg-color {
    background-color: #333333;
}
.custom-bg-color-2 {
    background-color: #464646;
}
body {
    color: white;
    /* background-color: #545454; */
    background: url(https://cdn.bhdw.net/im/green-leaves-with-black-shadow-wallpaper-78534_w635.webp);
    background-size: cover;
    /* color: black !important; */
}
.custom-font {
    font-family: 'Signika', sans-serif;
}
.card-custom-preview {
    max-width: 250px;
    width: 25rem;
}
.card-custom {
    width: 25rem;
}
.crops-list-tab {
    color: white;
    text-align: center;
}
main > .container {
    padding-top: 10px !important;
}

.nav-tabs .nav-link.active {
    background-color: #545454;
    border-color: #333333;
    color: #fff;
}
.nav-link:hover {
    color: #fff !important;
    background-color: #545454;
    border-radius: var(--bs-border-radius) !important;
}

.nav-tabs {
    --bs-nav-tabs-link-hover-border-color: #333333;
}

#crop-img{
    /* border-radius: 1000px; */
    /* width: 500px; */
    /* height: 500px; */
    display: block;
    margin: auto;
    transition: transform .5s;;
}

#crop-img:hover{
    transform: scale(1.05);
    transition: transform .5s;;
}

/* 
.col{
    transition: transform .5s;;
    font-size: smaller;
}
.col:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform .5s;;
    font-size: smaller;
} */

ol, ul{
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-expand-md .navbar-collapse {
    justify-content: end;
}

.cnt {
overflow: hidden;
}

.cnt .slider {
/* animation: slidein 30s linear infinite; */
white-space: nowrap;
}

.cnt .slider .logos {
/* width: 100%; */
transform: scale(0.7);
transition: 1s;
/* display: flex; */
margin: 0px 0;
flex-direction: row;
justify-content: center;
align-items: center;
align-content: space-between;
flex-wrap: wrap;

}

.cnt .slider .logos .item {
/* width: calc(100% / 5); */
animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
width: calc(100% /5);
    padding: 20px;
    transition: 1s;
}

.item:hover{
    transition: 1s;
    transform: scale(1.1);
}

@keyframes slidein {
from {
    transform: translate3d(0, 0, 0);
}
to {
    transform: translate3d(-100%, 0, 0);
}
}

@keyframes fade-in {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}

}

/*below 600px width this works */
@media only screen and (max-width: 767px) {
    main > :first-child{
      /* background-color: lightblue !important; */
      text-align: center;
    }
    /* .image-holder {
        flex-direction: column;
      
    }

    .image-holder  > div{
      
        transform: scale(.6);
    } */
}

  iframe{
    width: 100% !important;
    height: 800px;
    /* /* zoom: 0.75; */
    /*overflow: hidden; */
  }

  .rssapp-list {
    max-width: 95% !important;
  }

  .card{
    transition: 0.5s;
  }

  .card:hover{
    transform: scale(1.05);
    transition: 0.5s;
  }
  .rssapp-list{
    max-width: 90% !important;
  }

  .rssapp-card-img{
    min-width: none;
  }