<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="Potato Leaf Disease Detection">
        
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/resize.js') }}"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap" rel="stylesheet">
        <title>{{title}}</title>
    </head>
    <body>
        <header class="navbar navbar-expand-md navbar-dark nav-color fixed-top">
            <nav class="container-fluid flex-wrap flex-md-nowrap">
                <a class="navbar-brand p-1 me-2" href="/">
                    <h3 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"> &lt PLD / &gt</h3>
                </a>
                
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse pt-2 py-md-0" id="bdNavbar">
                    <ul class="navbar-nav flex-grow flex-wrap bd-navbar-nav">
                        <li class="nav-item col-6 col-md-auto"><a class="nav-link p-2" href="/#">Home</a></li>
                        <li class="nav-item col-6 col-md-auto"><a class="nav-link p-2" href="/#features">Features</a></li>
                        <li class="nav-item col-6 col-md-auto"><a class="nav-link p-2" href="/#privacy">Privacy</a></li>
                        <li class="nav-item col-6 col-md-auto"><a class="nav-link p-2" href="/#about">About</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        {%block home%}

        {%endblock home%}

        {%block result%}

        {%endblock result%}
        
        <footer class="nav-color mt-auto text-center footer py-3 mb-0">
            <div class="container">
                <p class="mb-0"> Potato Leaf Disease Detection using Convolutional Neural Networks(CNN)  &copy <i>  2022-2023 </i>  </p>
                <!-- <em class="mb-0">Tejas M N | Varun Hegde | Sumukha T S | Trishul Vishnu K T</em> -->
                
            </div>
        </footer>
        
        <script>
            const displayImage = (event) =>{
                compress(event);

                // const imgFiles = event.target.files;
    
                // if(imgFiles.length > 0){
                //     const imgSrc = URL.createObjectURL(imgFiles[0]);
                //     const ele = document.querySelector('#img-preview');
                //     ele.style.display = 'block';
                //     ele.src = imgSrc;
                //     ele.width = 200;
                //     ele.height = 200;
                    
                // }
                
            }


        </script>


        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
     
    </body>
</html>
