{%extends "base.html" %}
{%block home%}
        <main class="flex-shrink-0">
            <div class="container px-4 px-md-3" style="margin-top: 4rem !important;">
                <div class="row align-items-lg-center align-items-md-center mt-4">
                    <div class="col-9 mx-auto col-md-6 order-md-4 col-lg-5">
                        <img src="{{ url_for('static', filename='/assets/pngegg.png') }}" id="crop-img" alt="Project Logo" height="500" width="500" class="img-fluid">
                    </div>
                    <div class="col justify-content-center pt-4">
                        <h1 class="mb-3 custom-font">Potato Leaf Disease Detection using Convolutional Neural Networks(CNN)</h1>
                        <form action = "/" method = "POST" enctype = "multipart/form-data">
                            <div>
                                <input type="file" name="hiddenfiles" id="hiddenfiles" multiple hidden>
                                <div class="pt-2">
                                    <p>Predict Early Blight and Late Blight in Potato Leaves using Deep Learning.</p>
                                    <p>Click on Predict now to get started</p>
                                </div>
                            </div>
                        </form>
                        <div>
                            <button type="button" class="btn btn-light btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                Predict Now
                            </button>
                            <!-- Modal -->
                            <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog  modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel" style="color:black">Upload an Image</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img class="img-fluid rounded mx-auto d-block" id="img-preview" src="" alt="" style="width: 200px; height: 200px; display: none !important;" />
                                        <form  method="post" action="/predict" enctype="multipart/form-data">
                                                <input class="form-control mt-2" type="file" name="file" accept=".jpg, .png, .jpeg, image/jpeg, image/png" id="files"  onchange="displayImage(event)"  required>
                                                <p id="size"></p>
                                                <hr style="color: black;">
                                                <button  type="submit" class="mt-0 btn btn-secondary" style="float: right;">Predict</button>
                                        </form>
                                    </div>
                                   
                                </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>

            <div id="features">
                <div class="container px-4 px-md-3 pt-5">
                    <div class="row align-items-lg-center align-items-md-center">
                        <div class="col-9 mx-auto col-md-6 col-lg-5">
                            <img src="https://www.proweb247.com/images/salientfeatures/logo-design.png" class="img-fluid" alt="Features" width="400" height="400">
                        </div>
                        <div class="col pt-4"> 
                            <h2>Features</h2>
                            <p>The project employs Deep Learning Algorithms to forecast crop diseases. It utilizes diverse deep learning libraries to construct a resilient and efficient neural network, enabling rapid and precise outcomes.</p>
                            <ul>
                                <li>Mobile Responsive Website</li>
                                <li>Capture images in real time with camera on Mobile Devices</li>
                                <li>Auto deletion of images which saves server storage space</li>
                                <li>Gives the latest articles and news related to predicted disease</li>
                                <li>Displays fungicides for the predicted disease to buy</li>
                                <li>Shows the healthy part and diseased part with percentage of area infected</li>
                                <li>Google search results for the predicted disease </li>
                                <li>Gives the symptoms and ways to manage and control the disease </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="container" id="crops-list">
                <h1 class="text-center">Algorithms Used</h1>
            </div>
            <br>

                <div class="container custom-bg-color rounded" style="padding-top: 12px; padding-bottom: 12px;">
                    <nav>
                        <div class="nav nav-tabs crops-list-tab" style="border: none; padding-bottom: 12px;" id="nav-tab" role="tablist">
                            <button class="nav-link crops-list-tab active rounded" id="nav-cnn-tab" data-bs-toggle="tab" data-bs-target="#nav-cnn" type="button" role="tab" aria-controls="nav-cnn" aria-selected="true">CNN</button>
                            <button class="nav-link crops-list-tab rounded" id="nav-vgg16-tab" data-bs-toggle="tab" data-bs-target="#nav-vgg16" type="button" role="tab" aria-controls="nav-vgg16-pepper" aria-selected="false">VGG-16</button>
                            <button class="nav-link crops-list-tab rounded" id="nav-vgg19-tab" data-bs-toggle="tab" data-bs-target="#nav-vgg19" type="button" role="tab" aria-controls="nav-vgg19" aria-selected="false">VGG-19</button>
                            <button class="nav-link crops-list-tab rounded" id="nav-inception-tab" data-bs-toggle="tab" data-bs-target="#nav-inception" type="button" role="tab" aria-controls="nav-inception" aria-selected="false">Inception V3</button>
                            <button class="nav-link crops-list-tab rounded" id="nav-resnet50-tab" data-bs-toggle="tab" data-bs-target="#nav-resnet50" type="button" role="tab" aria-controls="nav-resnet50" aria-selected="false">Resnet50</button>
                            <button class="nav-link crops-list-tab rounded" id="nav-resnet15-tab" data-bs-toggle="tab" data-bs-target="#nav-resnet15" type="button" role="tab" aria-controls="nav-resnet15" aria-selected="false">Resnet15v2</button>
                            <button class="nav-link crops-list-tab rounded" id="nav-xception-tab" data-bs-toggle="tab" data-bs-target="#nav-xception" type="button" role="tab" aria-controls="nav-xception" aria-selected="false">Xception</button>
                        </div>
                    </nav>
                
                    <div class="tab-content bg-light rounded" style="padding-bottom: 17px; padding-top: 17px;" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-cnn" role="tabpanel" aria-labelledby="nav-cnn-tab">
                            <div class="container-fluid ">
                                <div class="row" style="justify-content: center; align-items: center;">
                                    <div class="col-6 ">
                                        <img class="img-fluid rounded mx-auto d-block" src="{{ url_for('static', filename='algos/cnn-mtrx.png') }}" alt="" width="400" height="400">
                                    </div>
                                    <div class="col-6 ">
                                        <img class="img-fluid rounded mx-auto d-block" src="{{ url_for('static', filename='algos/cnn-graph.png') }}" alt="" width="400" height="400">
                                    </div>                  
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-vgg16" role="tabpanel" aria-labelledby="nav-vgg16-tab">
                            <div class="container-fluid ">
                                <div class="row" style="justify-content: center; align-items: center;">
                                    <div class="col-6 ">
                                        <img class="img-fluid rounded mx-auto d-block" src="{{ url_for('static', filename='algos/vgg16-graph.png') }}" alt="" width="400" height="400">
                                    </div>
                                    <div class="col-6 ">
                                        <img class="img-fluid rounded mx-auto d-block" src="{{ url_for('static', filename='algos/vgg16-mtrx.png') }}" alt="" width="400" height="400">
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-vgg19" role="tabpanel" aria-labelledby="nav-vgg19-tab">
                            <div class="container-fluid ">
                                <div class="row" style="justify-content: center; align-items: center;">
                                    <div class="col-6 ">
                                        <img class="img-fluid rounded mx-auto d-block" src="{{ url_for('static', filename='algos/vgg19-mtrx.png') }}" alt="" width="400" height="400">
                                    </div>
                                    <div class="col-6 ">
                                        <img class="img-fluid rounded mx-auto d-block" src="{{ url_for('static', filename='algos/vgg19-graph1.png') }}" alt="" width="400" height="400">

                                        <img class="img-fluid rounded mx-auto d-block" src="{{ url_for('static', filename='algos/vgg19-graph2.png') }}" alt="" width="400" height="400">
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="nav-inception" role="tabpanel" aria-labelledby="nav-inception-tab">
                            <div class="container-fluid ">
                                <div class="row" style="justify-content: center; align-items: center;">
                                    <div class="col-6 ">
                                        <img class="img-fluid rounded mx-auto d-block" src="{{ url_for('static', filename='algos/inceptionv3-mtrx.png') }}" alt="" width="400" height="400">
                                    </div>
                                    <div class="col-6 ">
                                        <img class="img-fluid rounded mx-auto d-block" src="{{ url_for('static', filename='algos/inceptionv3-graph.png') }}" alt="" width="400" height="400">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-resnet50" role="tabpanel" aria-labelledby="nav-resnet50-tab">
                            <div class="container-fluid ">
                                <div class="row" style="justify-content: center; align-items: center;">
                                    <div class="col-6 ">
                                        <img class="img-fluid rounded mx-auto d-block" src="{{ url_for('static', filename='algos/resnet50-mtrx.png') }}" alt="" width="400" height="400">
                                    </div>
                                    <div class="col-6 ">
                                        <img class="img-fluid rounded mx-auto d-block" src="{{ url_for('static', filename='algos/resnet50-graph.png') }}" alt="" width="400" height="400">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-resnet15" role="tabpanel" aria-labelledby="nav-resnet15-tab">
                            <div class="container-fluid ">
                                <div class="row" style="justify-content: center; align-items: center;">
                                    <div class="col-6 ">
                                        <img class="img-fluid rounded mx-auto d-block" src="{{ url_for('static', filename='algos/resnet15-mtrx.png') }}" alt="" width="400" height="400">
                                    </div>
                                    <div class="col-6 ">
                                        <img class="img-fluid rounded mx-auto d-block" src="{{ url_for('static', filename='algos/resnet15-graph.png') }}" alt="" width="400" height="400">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-xception" role="tabpanel" aria-labelledby="nav-xception-tab">
                            <div class="container-fluid ">
                                <div class="row" style="justify-content: center; align-items: center;">
                                    <div class="col-6 ">
                                        <img class="img-fluid rounded mx-auto d-block" src="{{ url_for('static', filename='algos/xception-mtrx.png') }}" alt="" width="400" height="400">
                                    </div>
                                    <div class="col-6 ">
                                        <img class="img-fluid rounded mx-auto d-block" src="{{ url_for('static', filename='algos/xception-graph.png') }}" alt="" width="400" height="400">
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                </div>
            

            <div id="privacy">
                <div class="container px-4 px-md-3 pt-5">
                    <div class="row align-items-lg-center align-items-md-center">
                        <div class="col-9 mx-auto col-md-6 order-md-1 col-lg-5">
                            <img src="{{ url_for('static', filename='assets/arch.jpg') }}" alt="Privacy" class="img-fluid" >
                        </div>
                        <div class="col pt-4"> 
                            <h2>System Architecture</h2>
                            <p style="text-align: justify;">The System comprises of frontend built using bootstrap framework for fast development and its responsive features. Flask Web Framework is used for serving the tensorflow model in backend which takes the uploaded image as input and gives the response for the predicted disease. The CNN models are trained on dataset consisting around 3000 images collected from various datasets like PlantVillage, PLD, Mendely and also images from web.</p>
                            <h4>Challenges Faced:</h4>
                            <ul>
                                <li>Image compression implemented using Javascript at Client Side.</li>
                                <li>Handling Image size for faster processing and reducing Time Complexity.</li>
                                <li>Automatic deletion of images using threading to reduce server storage space.</li>
                                <li>Need for various datasets for diverse image classification.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
<br>
            <div id="features">
                <div class="cnt container-fluid">
                    <div class="row align-items-center h-100">
                      <div class="cnt container rounded">
                        <h1 class="text-center">Technologies Used</h1>
                        
                        <div class="slider">
                          <div class="logos">
                            <!-- <img class="item img-fluid rounded mx-auto d" src="https://w7.pngwing.com/pngs/410/100/png-transparent-web-development-html-responsive-web-design-logo-javascript-html-angle-web-design-text-thumbnail.png" alt="" width="200" height="200"> -->
                            <img class="item img-fluid rounded mx-auto d" src="https://www.nicepng.com/png/detail/141-1415492_bootstrap-bootstrap-4-icon-png.png" alt="" width="200" height="200">
                            <img class="item img-fluid rounded mx-auto d" src="https://w1.pngwing.com/pngs/951/574/png-transparent-react-logo-javascript-redux-vuejs-angular-angularjs-expressjs-front-and-back-ends-thumbnail.png" alt="" width="200" height="200">
                            <img class="item img-fluid rounded mx-auto d" src="https://w7.pngwing.com/pngs/447/294/png-transparent-python-javascript-logo-clojure-python-logo-blue-angle-text-thumbnail.png" alt="" width="200" height="200">
                            <img class="item img-fluid rounded mx-auto d" src="https://w7.pngwing.com/pngs/871/987/png-transparent-tensorflow-google-brain-machine-learning-deep-learning-google-angle-text-orange-thumbnail.png" alt="" width="200" height="200">    
                            <img class="item img-fluid rounded mx-auto d" src="https://editor.analyticsvidhya.com/uploads/800882.png" alt="" width="200" height="200">    

                          </div>
                          
                            <!-- <div class="logos">
                                <img class="item img-fluid rounded mx-auto d" src="https://w7.pngwing.com/pngs/410/100/png-transparent-web-development-html-responsive-web-design-logo-javascript-html-angle-web-design-text-thumbnail.png" alt="" width="200" height="200">
                                <img class="item img-fluid rounded mx-auto d" src="https://w7.pngwing.com/pngs/241/797/png-transparent-cascading-style-sheets-css3-javascript-logo-world-wide-web-blue-angle-text-thumbnail.png" alt="" width="200" height="200">
                                <img class="item img-fluid rounded mx-auto d" src="https://w1.pngwing.com/pngs/951/574/png-transparent-react-logo-javascript-redux-vuejs-angular-angularjs-expressjs-front-and-back-ends-thumbnail.png" alt="" width="200" height="200">
                                <img class="item img-fluid rounded mx-auto d" src="https://w7.pngwing.com/pngs/447/294/png-transparent-python-javascript-logo-clojure-python-logo-blue-angle-text-thumbnail.png" alt="" width="200" height="200">
                                <img class="item img-fluid rounded mx-auto d" src="https://w7.pngwing.com/pngs/871/987/png-transparent-tensorflow-google-brain-machine-learning-deep-learning-google-angle-text-orange-thumbnail.png" alt="" width="200" height="200">    
                            </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <div id="about">
                <div class="container pt-5 text-center">
                    <h2>About</h2>
                    <p>This project uses Convolutional Neural Networks and image processing to detect and diagnose diseases in potato leaves based on their leaf characteristics. Our system analyzes leaf images, extracting features and using them to classify diseases.                    
                    <br />
                </div>
            </div>
            <br>
        </main>

{%endblock home%}